.header-wrap {
  height: 100.35px;
  position: relative;
  z-index: 999;
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    @include transition(all 0.3s ease-in-out);
    .head-top {
      padding: 3px 0;
      background: $primary;
      .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
    ul.contact-info {
      flex-wrap: wrap;
      align-items: center;
      display: inline-flex;
      gap: 38px;
      li {
        display: inline-flex;
        align-items: center;
        a {
          font-size: 18px;
          line-height: 1;
          font-weight: 500;
          gap: 11px;
          align-items: center;
          display: inline-flex;
          color: $white;
          .icon {
            color: $secondary;
          }
        }
      }
    }
    .head-bottom {
      background: $white;
      .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
      }
    }
    .sidemenu {
      .menu {
        > ul {
          li {
            a {
              padding: 10px 0;
              display: block;
              font-size: 18px;
              line-height: 1;
              font-weight: 700;
              color: $dark-900;
              text-transform: uppercase;
            }
            &.active a,
            a:is(:hover, :focus) {
              color: $secondary;
            }
          }
        }
      }
    }
  }
  .head-logo {
    a {
      display: inline-block;
      img {
        max-width: 200px;
        @include transition(all 0.3s ease-in-out);
      }
    }
  }
  &.sticky {
    header {
      box-shadow: 0 5px 10px rgba($black, 0.16);
    }
  }
  @include breakpoint(min, 1025) {
    height: 135.9px;
    .btn-menu {
      display: none !important;
    }
    .head-logo {
      a {
        img {
          max-width: 250px;
        }
      }
    }
    header {
      .head-top {
        padding: 9px 0;
      }
      .sidemenu {
        .menu {
          > ul {
            gap: 39px;
            display: flex;
            flex-wrap: wrap;
            li {
              a {
                padding: 34px 0;
                font-size: 22px;
                display: inline-block;
              }
            }
          }
        }
      }
    }

    &.sticky {
      header {
        margin: -48.9px 0 0;
      }
      .head-logo {
        a {
          img {
            max-width: 220px;
          }
        }
      }
    }
    .bg-overlay {
      display: none !important;
    }
  }
  @include breakpoint(min, 1281) {
    .head-logo {
      a {
        img {
          max-width: 338px;
        }
      }
    }
    &.sticky {
      header {
        margin: -49px 0 0;
      }
      .head-logo {
        a {
          img {
            max-width: 270px;
          }
        }
      }
    }
  }
  @include breakpoint(max, 1024) {
    header {
      ul.contact-info {
        gap: 18px;
      }
    }
    .head-logo {
      a {
        img {
          max-width: 200px;
        }
      }
    }
    &.sticky {
      header {
        margin: -36.6px 0 0;
      }
      .head-logo {
        a {
          img {
            max-width: 200px;
          }
        }
      }
    }
    .head-top {
      padding: 3px 0;
    }
    ul.contact-info {
      gap: 18px;
      li {
        a {
          font-size: 16px;
        }
      }
    }
    ul.social {
      gap: 20px;
    }
    .head-bottom {
      padding: 15px 0;
    }
    .head-logo {
      a {
        img {
          max-width: 200px;
        }
      }
    }
    .btn-menu {
      display: inline-flex;
      button {
        border: 0;
        background: none;
        color: $primary;
        display: inline-flex;
      }
    }
    .sidemenu {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      background: $white;
      padding: 62px 15px 20px;
      width: 300px;
      height: 100vh;
      z-index: 1;
      @include transition(all 0.3s ease-in-out);
      &:not(.active) {
        right: -300px;
      }
      .btn-menu {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 21px 18px;
        background: $white;
      }
      .menu {
        height: 100%;
        overflow: auto;
      }
    }
    .bg-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($black, 0.8);
      @include transition(all 0.3s ease-in-out);
      &:not(.active) {
        visibility: hidden;
        opacity: 0;
      }
    }
  }

  @include breakpoint(max, 767) {
    ul.contact-info {
      li {
        a {
          span {
            display: none;
          }
        }
      }
    }
  }
}
