@include breakpoint(min, 1281) {
  .inner-banner {
    .banner-title {
      font-size: 52px;
    }
  }
}
@include breakpoint(max, 1280) {
  h1,
  .h1 {
    font-size: 90px;
  }
  h2,
  .h2 {
    font-size: 48px;
  }
  .about {
    padding: 70px 0;
  }
  .counter {
    padding: 0 0 70px;
    &.home {
      padding: 70px 0;
    }
  }
  .portfolio {
    &.home {
      .title-section {
        padding: 80px 0 150px;
      }
    }
  }
  .why-choose {
    padding: 70px 0;
  }
}

@include breakpoint(max, 991) {
  h1,
  .h1 {
    font-size: 70px;
  }
  h2,
  .h2 {
    font-size: 38px;
  }
  .slick-arrow {
    width: 60px;
    height: 60px;
    .icon {
      width: 15px;
      height: 28px;
    }
  }
  .about {
    padding: 50px 0;
  }
  .counter {
    padding: 0 0 50px;
    &.home {
      padding: 50px 0;
    }
  }
  .inner-banner {
    padding: 90px 0 90px;
  }
  .portfolio {
    &.home {
      .title-section {
        padding: 50px 0 120px;
      }
    }
  }
  .why-choose {
    padding: 50px 0;
    .content-box {
      .title {
        padding: 0 0 15px;
      }
      .box {
        padding: 10px 15px;
        &:not(:last-child) {
          margin: 0 0 15px;
        }
      }
    }
  }
}

@include breakpoint(max, 767) {
  h1,
  .h1 {
    font-size: 45px;
  }
  h2,
  .h2 {
    font-size: 32px;
  }
  .title {
    .sub-title {
      font-size: 26px;
    }
  }

  .slick-arrow {
    width: 40px;
    height: 40px;
    .icon {
      width: 10px;
      height: 17px;
    }
  }
  .btn {
    font-size: 20px;
    &.btn-lg {
      padding: 14px 50px;
    }
  }
  .btn-link {
    &.btn-lg {
      font-size: 22px;
      .icon {
        margin-left: 10px;
        width: 23px;
        height: 11px;
      }
    }
  }

  .banner-slide {
    padding: 70px 0;
    .banner-info {
      .sub-title {
        font-size: 18px;
        padding: 10px 20px;
      }
      .banner-title {
        padding: 25px 0 0;
      }
      .btn-wrap {
        padding: 35px 0 0;
      }
    }
  }
  .about {
    padding: 40px 0;
    .content-box {
      padding: 0 0 25px;
    }
    .img-box {
      padding: 20px 20px 0 20px;
      .secondary {
        width: 25%;
        height: 27%;
        min-width: 100px;
        min-height: 100px;
      }
    }
  }
  .service {
    &.home {
      .title-section {
        padding: 40px 0 100px;
      }
    }
  }
  .counter {
    padding: 0 0 35px;
    .counter-box {
      h3 {
        font-size: 50px;
      }
      p {
        font-size: 20px;
      }
    }
    &.home {
      padding: 35px 0;
    }
  }
  .inner-banner {
    padding: 50px 0;
    &::after {
      right: -71px;
      background-image: radial-gradient(rgba(0, 0, 0, 0.12) 2px, transparent 0);
    }
  }

  .portfolio-box {
    .btn-link-wrap {
      padding: 10px 0 0;
    }
  }

  .portfolio {
    &.home {
      .title-section {
        padding: 40px 0 100px;
      }
      .slider-wrap {
        margin: -110px 0 0;
        .arrow-wrap {
          padding: 10px 0 20px;
        }
      }
    }
  }
  .why-choose {
    padding: 40px 0;
    .content-box {
      max-width: 100%;
      padding: 0 0 30px;
      .box {
        h3 {
          font-size: 20px;
        }
      }
    }
  }
}
