$white: #fff !default;
$black: #000 !default;

// theme-colors-map
$primary: #223164;
$secondary: #3d3d58;

// $body-color: $white !default;
// $body-background: #00071D !default;

// font family
$font-primary: "Poppins", sans-serif;
$font-secondary: "Montserrat", sans-serif;
