$white: #fff !default;
$black: #000 !default;

// theme-colors-map
$primary: #005778;
$secondary: #55b5bd;
$dark-900: #212529;

// $primary: #00394e;

// $secondary: #212529;
// $secondary: #434343;
// $secondary: #333333;

// $body-color: $white !default;
// $body-background: #00071D !default;

// font family
$font-primary: "Rajdhani", sans-serif;
$font-secondary: "Rajdhani", sans-serif;
