html {
  position: relative;
  min-height: 100%;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: auto !important;
  scrollbar-color: #55b5bd #fff;
  scrollbar-width: thin;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #55b5bd;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

*::-moz-selection {
  background-color: #005778;
  color: #fff;
}

*::selection {
  background-color: #005778;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rajdhani", sans-serif;
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-size: 18px;
  line-height: 1.7;
  font-weight: 500;
  color: #333;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  scrollbar-color: #55b5bd #fff;
  scrollbar-width: thin;
  overflow-x: hidden;
}

a,
button {
  cursor: pointer;
  outline: none;
  box-shadow: none;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
a:is(:focus, :hover),
button:is(:focus, :hover) {
  outline: none;
  color: #005778;
  box-shadow: none;
  text-decoration: none;
}
a::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0 0 15px 0;
  padding: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 1.5;
  color: #212425;
}

h1,
.h1 {
  font-size: 107px;
  line-height: 1;
}

h2,
.h2 {
  font-size: 50px;
  line-height: 0.98;
}

h3,
.h3 {
  font-size: 32px;
}

h4,
.h4 {
  font-size: 28px;
}

h5,
.h5 {
  font-size: 22px;
}

h6,
.h6 {
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.transition, .portfolio-box .btn-link-wrap, .portfolio-box .img-box .overlay, .service-box {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.slick-arrow {
  width: 84px;
  height: 84px;
  display: grid;
  place-items: center;
  border: 0;
  color: #fff;
  background: rgba(85, 181, 189, 0.6);
}
.slick-arrow:is(:hover, :focus, :active) {
  color: #fff;
  background: #55b5bd;
}

/* common css */
.title {
  padding: 0 0 8px;
}
.title .sub-title {
  font-size: 30px;
  line-height: 1;
  font-weight: 500;
  padding: 0 0 10px;
  color: #55b5bd;
  text-transform: uppercase;
}
.title h2,
.title .h2 {
  color: #005778;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
  color: #fff;
  border: 0;
  padding: 19px 66px;
  text-transform: uppercase;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.btn.btn-lg {
  padding: 19px 60px;
}
.btn.btn-sm {
  padding: 16px 67px;
}
.btn.btn-primary {
  background: #005778;
}
.btn.btn-primary:is(:hover, :focus, :active) {
  background: #55b5bd;
}
.btn.btn-secondary {
  background: #55b5bd;
}
.btn.btn-secondary:is(:hover, :focus, :active) {
  background: #005778;
}

.btn-link {
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding: 2px 0;
}
.btn-link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: currentColor;
}
.btn-link .icon {
  margin-left: 14px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.btn-link.btn-lg {
  font-size: 30px;
}
.btn-link.btn-lg .icon {
  margin-left: 22px;
}
.btn-link:is(:hover, :focus, :active) .icon {
  margin-left: 18px;
}
.btn-link.primary {
  color: #005778;
}
.btn-link.primary:is(:hover, :focus, :active) {
  color: #55b5bd;
}
.btn-link.secondary {
  color: #55b5bd;
}
.btn-link.secondary:is(:hover, :focus, :active) {
  color: #005778;
}

.btn-arrow {
  width: 55px;
  height: 55px;
  display: grid;
  place-items: center;
  color: #fff;
  background: #55b5bd;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}
.btn-arrow:is(:hover, :focus, :active) {
  color: #fff;
  background: #005778;
}

.social {
  gap: 28px;
}
.social li {
  display: inline-flex;
  align-items: center;
}
.social li a {
  color: #fff;
}
.social li a:is(:hover, :focus, :active) {
  color: #55b5bd;
}
.social.box {
  gap: 12px;
}
.social.box li a {
  width: 38px;
  height: 38px;
  display: grid;
  place-items: center;
  color: #005778;
  background: #fff;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}
.social.box li a:is(:hover, :focus, :active) {
  color: #55b5bd;
  background: #005778;
}

/* header */
.header-wrap {
  height: 100.35px;
  position: relative;
  z-index: 999;
}
.header-wrap header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.header-wrap header .head-top {
  padding: 3px 0;
  background: #005778;
}
.header-wrap header .head-top .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header-wrap header ul.contact-info {
  flex-wrap: wrap;
  align-items: center;
  display: inline-flex;
  gap: 38px;
}
.header-wrap header ul.contact-info li {
  display: inline-flex;
  align-items: center;
}
.header-wrap header ul.contact-info li a {
  font-size: 18px;
  line-height: 1;
  font-weight: 500;
  gap: 11px;
  align-items: center;
  display: inline-flex;
  color: #fff;
}
.header-wrap header ul.contact-info li a .icon {
  color: #55b5bd;
}
.header-wrap header .head-bottom {
  background: #fff;
}
.header-wrap header .head-bottom .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header-wrap header .sidemenu .menu > ul li a {
  padding: 10px 0;
  display: block;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #212529;
  text-transform: uppercase;
}
.header-wrap header .sidemenu .menu > ul li.active a,
.header-wrap header .sidemenu .menu > ul li a:is(:hover, :focus) {
  color: #55b5bd;
}
.header-wrap .head-logo a {
  display: inline-block;
}
.header-wrap .head-logo a img {
  max-width: 200px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.header-wrap.sticky header {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16);
}
@media (min-width: 1025px) {
  .header-wrap {
    height: 135.9px;
  }
  .header-wrap .btn-menu {
    display: none !important;
  }
  .header-wrap .head-logo a img {
    max-width: 250px;
  }
  .header-wrap header .head-top {
    padding: 9px 0;
  }
  .header-wrap header .sidemenu .menu > ul {
    gap: 39px;
    display: flex;
    flex-wrap: wrap;
  }
  .header-wrap header .sidemenu .menu > ul li a {
    padding: 34px 0;
    font-size: 22px;
    display: inline-block;
  }
  .header-wrap.sticky header {
    margin: -45.9px 0 0;
  }
  .header-wrap.sticky .head-logo a img {
    max-width: 220px;
  }
  .header-wrap .bg-overlay {
    display: none !important;
  }
}
@media (min-width: 1281px) {
  .header-wrap .head-logo a img {
    max-width: 338px;
  }
  .header-wrap.sticky header {
    margin: -46px 0 0;
  }
  .header-wrap.sticky .head-logo a img {
    max-width: 270px;
  }
}
@media (max-width: 1024px) {
  .header-wrap header ul.contact-info {
    gap: 18px;
  }
  .header-wrap .head-logo a img {
    max-width: 200px;
  }
  .header-wrap.sticky header {
    margin: -33.9px 0 0;
  }
  .header-wrap.sticky .head-logo a img {
    max-width: 200px;
  }
  .header-wrap .head-top {
    padding: 3px 0;
  }
  .header-wrap ul.contact-info {
    gap: 18px;
  }
  .header-wrap ul.contact-info li a {
    font-size: 16px;
  }
  .header-wrap ul.social {
    gap: 20px;
  }
  .header-wrap .head-bottom {
    padding: 15px 0;
  }
  .header-wrap .head-logo a img {
    max-width: 200px;
  }
  .header-wrap .btn-menu button {
    border: 0;
    background: none;
    color: #005778;
    display: inline-flex;
  }
  .header-wrap .sidemenu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    padding: 62px 15px 20px;
    width: 300px;
    height: 100vh;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  .header-wrap .sidemenu:not(.active) {
    right: -300px;
  }
  .header-wrap .sidemenu .btn-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 21px 18px;
    background: #fff;
  }
  .header-wrap .sidemenu .menu {
    height: 100%;
    overflow: auto;
  }
  .header-wrap .bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  .header-wrap .bg-overlay:not(.active) {
    visibility: hidden;
    opacity: 0;
  }
}
@media (max-width: 767px) {
  .header-wrap ul.contact-info li a span {
    display: none;
  }
}

/* footer */
.footer-wrap {
  background: #005778;
}
.footer-wrap :is(p, a, h3) {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}
.footer-wrap .block-title {
  font-size: 33px;
  line-height: 1.3;
  font-weight: 600;
}
.footer-wrap .footer-logo {
  padding: 0 0 14px;
}
.footer-wrap .footer-logo a {
  display: inline-block;
}
.footer-wrap .footer-logo a img {
  max-width: 263px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.footer-wrap .social {
  padding: 14px 0 0;
}
.footer-wrap .block.block-about {
  max-width: 344px;
  flex-shrink: 0;
  padding-right: 70px;
}
.footer-wrap .column-wrap {
  margin: 0 -15px -30px;
}
.footer-wrap .column-wrap > li {
  padding: 0 15px 30px;
}
.footer-wrap .footer-link {
  padding: 27px 0 0;
}
.footer-wrap .footer-link li:not(:last-child) {
  padding: 0 0 14px;
}
.footer-wrap .footer-link li a {
  gap: 12px;
  display: inline-flex;
  align-items: center;
}
.footer-wrap .footer-link li a:hover {
  color: #55b5bd;
}
.footer-wrap footer .footer-top {
  padding: 70px 0 40px;
}
.footer-wrap footer .footer-bottom {
  padding: 25px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-wrap footer .footer-bottom .copyrights {
  margin: 0;
}
.footer-wrap footer .footer-bottom .copyrights a {
  color: currentColor;
}
.footer-wrap footer .footer-bottom .copyrights a:hover {
  color: #55b5bd;
}
.footer-wrap footer .footer-bottom .copyrights a.design-by {
  color: #55b5bd;
}
@media (max-width: 1280px) {
  .footer-wrap .block-title {
    font-size: 30px;
  }
}
@media (max-width: 991px) {
  .footer-wrap footer .footer-top {
    padding: 50px 0 40px;
  }
  .footer-wrap .block-wrap {
    flex-direction: column;
  }
  .footer-wrap .block-wrap .block.block-about {
    width: 100%;
    max-width: 100%;
    padding: 0 0 30px;
  }
}
@media (max-width: 767px) {
  .footer-wrap .footer-logo a img {
    max-width: 200px;
  }
  .footer-wrap .block-title {
    font-size: 26px;
  }
  .footer-wrap .footer-link {
    padding: 15px 0 0;
  }
  .footer-wrap .footer-link li:not(:last-child) {
    padding: 0 0 10px;
  }
  .footer-wrap footer .footer-top {
    padding: 40px 0;
  }
}

.hero-banner {
  position: relative;
  background: #005778;
}
.hero-banner .slick-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
}
.hero-banner .slick-arrow.home-next {
  right: 0;
}
.hero-banner .slick-arrow.home-prev {
  left: 0;
}
.hero-banner .hero-slider:not(.slick-initialized) .banner-slide:not(:first-child) {
  display: none;
}

.banner-slide {
  padding: 270px 0 110px;
  position: relative;
  background: no-repeat center/cover;
}
.banner-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #005778;
  opacity: 0.5;
}
.banner-slide .banner-info {
  width: calc(100% - 100px);
  max-width: 800px;
  position: relative;
  z-index: 1;
}
.banner-slide .sub-title {
  display: inline-block;
  font-size: 26px;
  line-height: 1;
  font-weight: 500;
  padding: 15px 30px;
  color: #fff;
  background: #005778;
  text-transform: uppercase;
}
.banner-slide .banner-title {
  color: #fff;
  font-weight: 700;
  padding: 32px 0 0;
  text-transform: uppercase;
}
.banner-slide .btn-wrap {
  padding: 61px 0 0;
}
.banner-slide :is(.sub-title, .banner-title, .btn-wrap) {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transform: translateY(50px);
}
.banner-slide:is(.slick-current, .slick-active) .sub-title {
  transition-delay: 1s;
}
.banner-slide:is(.slick-current, .slick-active) .banner-title {
  transition-delay: 1.1s;
}
.banner-slide:is(.slick-current, .slick-active) .btn-wrap {
  transition-delay: 1.2s;
}
.banner-slide:is(.slick-current, .slick-active) :is(.sub-title, .banner-title, .btn-wrap) {
  opacity: 1;
  transform: translateY(0px);
}

.inner-banner {
  position: relative;
  padding: 118px 0 92px;
  background: no-repeat center/contain;
}
.inner-banner::after, .inner-banner::before {
  content: "";
  position: absolute;
  right: 0;
}
.inner-banner::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgb(0, 87, 120) 0%, rgb(85, 181, 189) 100%);
  z-index: -1;
}
.inner-banner::after {
  bottom: -55px;
  width: 126px;
  height: 123px;
  background-image: radial-gradient(rgba(0, 0, 0, 0.12) 3px, transparent 0);
  background-size: 38px 38px;
  background-position: -16px -16px;
}
.inner-banner .banner-info {
  text-align: center;
  position: relative;
  z-index: 1;
}
.inner-banner .banner-info .banner-title {
  color: #fff;
  text-transform: uppercase;
}
.inner-banner .bread {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 -15px -10px;
  padding: 21px 0 0;
}
.inner-banner .bread li {
  display: inline-flex;
  font-size: 18px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  padding: 0 15px 10px;
  position: relative;
}
.inner-banner .bread li a {
  color: currentColor;
}
.inner-banner .bread li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -2px;
  bottom: 0;
  height: 12px;
  width: 1px;
  background: #fff;
}

.about {
  overflow: hidden;
  padding: 90px 0 80px;
}
.about .content-box .btn-wrap {
  padding: 10px 0 0;
}
.about .img-box {
  text-align: right;
  position: relative;
  padding: 45px 70px 0 127px;
  z-index: 1;
}
.about .img-box img {
  width: 100%;
}
.about .img-box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 135px;
  height: 135px;
  background: #55b5bd;
  z-index: -1;
}
.about .img-box .secondary {
  position: absolute;
  bottom: 14px;
  left: 0px;
  width: 184px;
  height: 159px;
  border: 2px solid #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.about .img-box .secondary img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.service-box {
  padding: 30px 30px;
  background: #fff;
  border-bottom: 5px solid #55b5bd;
  box-shadow: 0 11px 38px rgba(0, 0, 0, 0.17);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.service-box .service-icon {
  width: 72px;
  height: 72px;
  margin: 0 0 25px;
  position: relative;
  z-index: 1;
}
.service-box .service-icon::after {
  content: "";
  position: absolute;
  top: -9px;
  left: -13px;
  width: 57px;
  height: 57px;
  background: rgba(85, 181, 189, 0.26);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  z-index: -1;
}
.service-box h3.service-title {
  font-size: 24px;
  line-height: 1.166;
  color: #55b5bd;
  padding: 0 0 10px;
}
.service-box .btn-link-wrap {
  text-align: right;
}
.service-box:hover {
  border-color: #005778;
}

.service .title :is(.sub-title, h2, .h2) {
  color: #fff;
}
.service .service-list > ul {
  margin: 0 -15px -30px;
}
.service .service-list > ul > li {
  padding: 0 15px 30px;
}
.service.home .title-section {
  padding: 68px 0 132px;
  background: #55b5bd no-repeat center/cover;
}
.service.home .title-wrap {
  align-items: center;
  justify-content: space-between;
  margin: 0 -15px 0;
}
.service.home .title-wrap > div {
  padding: 0 15px 0;
}
.service.home .service-list {
  margin: -72px 0 0;
}
.service.home .btn-wrap {
  padding: 40px 0 0;
}

.counter {
  padding: 0 0 80px;
}
.counter .counter-box {
  padding: 0 0 19px;
  text-align: center;
  border-bottom: 1px solid #55b5bd;
}
.counter .counter-box h3 {
  font-size: 70px;
  line-height: 0.771;
  font-weight: 500;
  color: #55b5bd;
}
.counter .counter-box h3 sup {
  font-size: 62%;
}
.counter .counter-box p {
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
  color: #005778;
  margin: 0;
  padding: 12px 0 0;
}
.counter .counter-list {
  padding: 45px 0 0;
}
.counter .counter-list > ul {
  margin: 0 -15px -30px;
}
.counter .counter-list > ul > li {
  padding: 0 15px 30px;
}
.counter.home {
  padding: 80px 0;
}

.portfolio-box .img-box {
  overflow: hidden;
  position: relative;
  padding: 0 0 96%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.portfolio-box .img-box img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio-box .img-box .overlay {
  padding: 40px 40px 30px 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background: rgba(0, 57, 78, 0.83);
}
.portfolio-box .img-box .overlay .btn-wrap {
  margin-left: auto;
}
.portfolio-box .img-box .overlay h3 {
  font-size: 30px;
  color: #fff;
  margin-top: auto;
  text-transform: uppercase;
}
.portfolio-box .img-box .overlay h3 span {
  display: block;
  font-size: 24px;
  line-height: 1;
  font-weight: 500;
}
.portfolio-box .btn-link-wrap {
  padding: 22px 0 0;
}
.portfolio-box:not(:hover) .img-box .overlay {
  opacity: 0;
}
.portfolio-box:not(:hover) .btn-link-wrap {
  opacity: 0;
}

.portfolio.home .title-section {
  position: relative;
  padding: 120px 0 178px;
  background: no-repeat center/cover;
  z-index: 1;
}
.portfolio.home .title-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(85, 181, 189, 0.5);
}
.portfolio.home .title :is(h2, .h2) {
  color: #fff;
}
.portfolio.home .slider-wrap {
  overflow: hidden;
  margin: -130px 0 0;
  position: relative;
  z-index: 1;
}
.portfolio.home .slider-wrap .slick-list {
  margin: 0 -15px;
}
.portfolio.home .slider-wrap .slick-list .slick-track {
  display: flex;
}
.portfolio.home .slider-wrap .slick-list .slick-track .item {
  padding: 0 15px;
}
.portfolio.home .arrow-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0 34px;
  margin: 0 -10px;
}
.portfolio.home .arrow-wrap button {
  color: #fff;
  background: none;
  margin: 0 10px;
  width: auto;
  height: auto;
  padding: 5px 10px;
}
.portfolio.home .arrow-wrap button .icon {
  width: 33px;
  height: 23px;
}

.why-choose {
  padding: 80px 0;
}
.why-choose .content-box {
  max-width: 490px;
}
.why-choose .content-box .title {
  padding: 0 0 35px;
}
.why-choose .content-box .box {
  padding: 20px 26px 12px;
  border-left: 3px solid #55b5bd;
}
.why-choose .content-box .box:not(:last-child) {
  margin: 0 0 45px;
}
.why-choose .content-box .box h3 {
  font-size: 26px;
  line-height: 1;
  color: #005778;
  text-transform: uppercase;
  padding: 0 0 12px;
}
.why-choose .content-box .box p {
  margin: 0;
}
.why-choose .img-box {
  overflow: hidden;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
}
.why-choose .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* all media */
@media (min-width: 1281px) {
  .inner-banner .banner-title {
    font-size: 52px;
  }
}
@media (max-width: 1280px) {
  h1,
  .h1 {
    font-size: 90px;
  }
  h2,
  .h2 {
    font-size: 48px;
  }
  .about {
    padding: 70px 0;
  }
  .counter {
    padding: 0 0 70px;
  }
  .counter.home {
    padding: 70px 0;
  }
  .portfolio.home .title-section {
    padding: 80px 0 150px;
  }
  .why-choose {
    padding: 70px 0;
  }
}
@media (max-width: 991px) {
  h1,
  .h1 {
    font-size: 70px;
  }
  h2,
  .h2 {
    font-size: 38px;
  }
  .slick-arrow {
    width: 60px;
    height: 60px;
  }
  .slick-arrow .icon {
    width: 15px;
    height: 28px;
  }
  .about {
    padding: 50px 0;
  }
  .counter {
    padding: 0 0 50px;
  }
  .counter.home {
    padding: 50px 0;
  }
  .inner-banner {
    padding: 90px 0 90px;
  }
  .portfolio.home .title-section {
    padding: 50px 0 120px;
  }
  .why-choose {
    padding: 50px 0;
  }
  .why-choose .content-box .title {
    padding: 0 0 15px;
  }
  .why-choose .content-box .box {
    padding: 10px 15px;
  }
  .why-choose .content-box .box:not(:last-child) {
    margin: 0 0 15px;
  }
}
@media (max-width: 767px) {
  h1,
  .h1 {
    font-size: 45px;
  }
  h2,
  .h2 {
    font-size: 32px;
  }
  .title .sub-title {
    font-size: 26px;
  }
  .slick-arrow {
    width: 40px;
    height: 40px;
  }
  .slick-arrow .icon {
    width: 10px;
    height: 17px;
  }
  .btn {
    font-size: 20px;
  }
  .btn.btn-lg {
    padding: 14px 50px;
  }
  .btn-link.btn-lg {
    font-size: 22px;
  }
  .btn-link.btn-lg .icon {
    margin-left: 10px;
    width: 23px;
    height: 11px;
  }
  .banner-slide {
    padding: 70px 0;
  }
  .banner-slide .banner-info .sub-title {
    font-size: 18px;
    padding: 10px 20px;
  }
  .banner-slide .banner-info .banner-title {
    padding: 25px 0 0;
  }
  .banner-slide .banner-info .btn-wrap {
    padding: 35px 0 0;
  }
  .about {
    padding: 40px 0;
  }
  .about .content-box {
    padding: 0 0 25px;
  }
  .about .img-box {
    padding: 20px 20px 0 20px;
  }
  .about .img-box .secondary {
    width: 25%;
    height: 27%;
    min-width: 100px;
    min-height: 100px;
  }
  .service.home .title-section {
    padding: 40px 0 100px;
  }
  .counter {
    padding: 0 0 35px;
  }
  .counter .counter-box h3 {
    font-size: 50px;
  }
  .counter .counter-box p {
    font-size: 20px;
  }
  .counter.home {
    padding: 35px 0;
  }
  .inner-banner {
    padding: 50px 0;
  }
  .inner-banner::after {
    right: -71px;
    background-image: radial-gradient(rgba(0, 0, 0, 0.12) 2px, transparent 0);
  }
  .portfolio-box .btn-link-wrap {
    padding: 10px 0 0;
  }
  .portfolio.home .title-section {
    padding: 40px 0 100px;
  }
  .portfolio.home .slider-wrap {
    margin: -110px 0 0;
  }
  .portfolio.home .slider-wrap .arrow-wrap {
    padding: 10px 0 20px;
  }
  .why-choose {
    padding: 40px 0;
  }
  .why-choose .content-box {
    max-width: 100%;
    padding: 0 0 30px;
  }
  .why-choose .content-box .box h3 {
    font-size: 20px;
  }
}/*# sourceMappingURL=styles.css.map */